{% extends '../layout.twig' %}

{% block bodyblock %}
  {% if posts %}
    <h3>Неопубликованные материалы</h3>
    <ul class="list-group">
    {% for post in posts %}
      <li class="list-group-item">
        {{ post.createdAt }}
        <a href="/admin/edit/{{ post._id }}">{{ post.h1 }}</a>
        <a href="/admin/delete/{{ post._id }}" class="delete-x">X</a>
      </li>
    {% endfor %}
    </ul>
  {% else %}
    <h3>Неопубликованных материалов нет...</h3>
  {% endif %}

  {% if categories %}
    <h3>Категории</h3>
    <table class="table">
      <thead>
        <tr>
          <td>name</td>
          <td>url</td>
          <td>act</td>
        </tr>
      </thead>
      <tbody>
        {% for index, category in categories %}
          <tr id="category-{{index}}">
            <td><input name="name" value="{{category.name}}" /></td>
            <td><input name="url" value="{{category.url}}" /></td>
            <td>
            
              <a href="/admin/category/delete/{{category.url}}">X</a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <h3>Созданных категорий нет...</h3>
  {% endif %}

  {% if tags %}
    <h3>Теги</h3>
    <table class="table">
      <thead>
        <tr>
          <td>name</td>
          <td>url</td>
          <td>act</td>
        </tr>
      </thead>
      <tbody>
        {% for index, tag in tags %}
          <tr id="tag-{{index}}">
            <td><input name="name" value="{{tag.name}}" /></td>
            <td><input name="url" value="{{tag.url}}" /></td>
            <td>
            
              <a href="/admin/tag/delete/{{tag.url}}">X</a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <h3>Созданных тегов нет...</h3>
  {% endif %}
{% endblock %}
